<div class="centered-content">
    <div class="model-box">
        <h1 class="title">
            Create a new list
        </h1>
    <div class="field has-addons">
        <div class="control is-expanded">
            <input class="input has-background-light is-medium" type="text" placeholder="Find a repository">
        </div>
        <div class="control">
            <a class="button is-primary  has-text-white is-medium">
                Create
            </a>
        </div>
    </div>
    <!-- <button routerLink="" class="button">Go Back</button> -->
    </div>
</div>